@model Bakery2018.Models.Sale
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Most everyone has experienced the pleasant sensation of walking into a bakery and smelling the sweet aroma of fresh-baked goods right out of the oven. 
    In an age where prepackaged and frozen foods dominate the retail grocery industry, bakeries provide a refreshing alternative and wide variety of delicious treats. 
    According to the business analysis firm Hoovers, bakery popularity is reflected in the fact the United States has approximately 2,500 
    commercial bakeries earning annual revenue of more than 25 billion dollars.</p>
