@model Bakery2018.Models.Sale
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Seattle Way<br />
    Seattle, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Order:</strong>   <a href="mailto:Support@example.com">Bakery@example.com</a><br />
    <strong>Contact Us:</strong> <a href="mailto:Marketing@example.com">Edbakery@example.com</a>
</address>