@model IEnumerable<Bakery2018.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcom To ED's Bakery</h1>
    <p class="lead">Most everyone has experienced the pleasant sensation of walking into a bakery and smelling the sweet aroma of fresh-baked goods right out of the oven</p>
    <p><a href="" class="">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Most everyone has experienced the pleasant sensation of walking into a bakery and smelling the sweet aroma of fresh-baked goods right out of the oven
        </p>
        <p><a class="" href="">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NMost everyone has experienced the pleasant sensation of walking into a bakery and smelling the sweet aroma of fresh-baked goods right out of the oven</p>
        <p><a class="t" href="">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Learn more</h2>
        <p>Most everyone has experienced the pleasant sensation of walking into a bakery and smelling the sweet aroma of fresh-baked goods right out of the oven</p>
        <p><a class="" href="">Learn more &raquo;</a></p>
    </div>
</div>